<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head') %>
  </head>
  <body>
    <%- include('./includes/header') %>  <!-- ,하고 옆에 추가 값이 있는 객체를 전달할 수도 있음.  -->
    <%- include('./includes/sidebar') %>  <!-- ,하고 옆에 추가 값이 있는 객체를 전달할 수도 있음.  -->
    <main>
      <h1>Something went wrong!</h1>
      <p>
        Unfortunately, something went wrong on the server - we're doing our best to fix it as quickly as possible
      </p>
      <p>
        You don't need to sign up or create any account - you can simply start
        sharing right away!
      </p>
    </main>
  </body>
</html>
